---
layout: default
---

<div class="row g-2 mb-1">
    <h3 class="fw-bold">Research</h3>
    <img src="{{ site.github.url }}/assets/img/SSLOV.002.png" alt="Home" width="100%">
    <p class="mb-2">We are applied probabilists with interests in the modeling and analysis of stochastic systems, generative modeling and inverse problems, stochastic optimization and control. </p>
    <!-- Ongoing Projects Section -->
    <div class="row g-2 mb-1">
      <div class="col-md-12">
        <!-- <h3 class="fw-bold">Ongoing Projects</h3> -->
        <p><a class="btn btn-outline-primary" data-bs-toggle="collapse" href="#projectsCollapse" role="button" aria-expanded="false" aria-controls="projectsCollapse">
          Ongoing Projects
        </a></p>
    
        <div class="collapse" id="projectsCollapse">
          <div class="card card-body border-0">
            {% for project in site.data.research.ongoing_projects %}
              <h5 class="fw-semibold mt-4">{{ project.area }}</h5>
    
              <strong>Topics:</strong>
              <ul>
                {% for topic in project.topics %}
                  <li>{{ topic }}</li>
                {% endfor %}
              </ul>
    
              <strong>Support:</strong>
              <ul>
                {% for grant in project.support %}
                  <li>{{ grant }}</li>
                {% endfor %}
              </ul>
            {% endfor %}
          </div>
        </div>
      </div>
</div>
</div>

<!-- Open Positions Section -->
<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold">Open Positions</h3>
    <p class="mb-3">
      <a class="btn btn-outline-success" data-bs-toggle="collapse" href="#positionsCollapse" role="button" aria-expanded="false" aria-controls="positionsCollapse">
        Show/Hide Details
      </a>
    </p>

    <div class="collapse" id="positionsCollapse">
      <div class="card card-body border-0">
        {% for position in site.data.open_positions.open_positions %}
          <h5 class="fw-semibold mt-4">{{ position.title }}</h5>
          <p>{{ position.description }}</p>

          <strong>Requirements:</strong>
          <ul>
            {% for req in position.requirements %}
              <li>{{ req }}</li>
            {% endfor %}
          </ul>

          <p><strong>Start Date:</strong> {{ position.start_date }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<!-- {% include publications.html %} -->

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates</h3>
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div>
