---
layout: default
---

<div class="row g-5 mb-5">
    <h3 class="fw-bold">Research</h3>
    <img src="{{ site.github.url }}/assets/img/SSLOV.png" alt="Home" width="100%">
    <p>Harsha Honnappa’s research lies at the intersection of applied probability, stochastic control, and statistical learning, with a focus on developing rigorous theoretical foundations and practical methodologies for decision-making under uncertainty. His work spans non-stationary queueing systems, controlled Markov processes, and continuous-time reinforcement learning, contributing new models and inference techniques that are both statistically sound and computationally efficient. He has introduced novel frameworks for learning transition dynamics in controlled environments, established performance guarantees for offline estimators, and explored impulse control strategies in complex systems such as satellite traffic management. Across these areas, his research integrates tools from stochastic processes, optimization, and statistical inference, addressing both foundational questions and real-world applications in engineering and defense systems.</p>
</div>

<!-- {% include publications.html %} -->

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates</h3>
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div>
